In [2]:
import pandas as pd
df =pd.read_csv("../files/summary/complete.csv")
df

,Unnamed: 0,State,Candidate ID,Name,Total Votes,Percentage,National Votes,Abroad Votes
0,0,Aguascalientes,1,Jorge Álvarez Máynez,56998,0.089398,56934,64
1,1,Aguascalientes,2,Bertha Xóchitl Gálvez Ruíz,294218,0.461466,293070,1148
2,2,Aguascalientes,3,Claudia Sheinbaum Pardo,270252,0.423876,269391,861
3,3,Aguascalientes,4,Candidaturas no registradas,1959,0.003072,1953,6
4,4,Aguascalientes,5,Votos nulos,14145,0.022185,14128,17
...,...,...,...,...,...,...,...,...
155,155,Zacatecas,1,Jorge Álvarez Máynez,124211,0.169323,124127,84
156,156,Zacatecas,2,Bertha Xóchitl Gálvez Ruíz,221704,0.302226,221029,675
157,157,Zacatecas,3,Claudia Sheinbaum Pardo,367584,0.501089,365541,2043
158,158,Zacatecas,4,Candidaturas no registradas,1405,0.001915,1382,23
159,159,Zacatecas,5,Votos nulos,20019,0.027289,19998,21

In [3]:
df.describe()

,Unnamed: 0,Candidate ID,Total Votes,Percentage,National Votes,Abroad Votes
count,160.000000,160.000000,1.600000e+02,160.000000,1.600000e+02,160.000000
mean,79.500000,3.000000,3.506742e+05,0.200305,3.495219e+05,1152.350000
std,46.332134,1.418654,6.155453e+05,0.229887,6.135267e+05,3024.886029
min,0.000000,1.000000,4.460000e+02,0.000956,4.460000e+02,0.000000
25%,39.750000,2.000000,1.797400e+04,0.021431,1.795575e+04,17.000000
50%,79.500000,3.000000,1.017690e+05,0.095964,1.014040e+05,97.500000
75%,119.250000,4.000000,4.085180e+05,0.332199,4.065178e+05,1091.000000
max,159.000000,5.000000,4.910698e+06,0.801222,4.904901e+06,29737.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      160 non-null    int64
 1   State           160 non-null    object
 2   Candidate ID    160 non-null    int64
 3   Name            160 non-null    object
 4   Total Votes     160 non-null    int64
 5   Percentage      160 non-null    float64
 6   National Votes  160 non-null    int64
 7   Abroad Votes    160 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 10.1+ KB

In [8]:
del df['Unnamed: 0']
del df['Candidate ID']
result = df.loc[df.groupby('State')['Percentage'].idxmax()]
result

,State,Name,Total Votes,Percentage,National Votes,Abroad Votes
1,Aguascalientes,Bertha Xóchitl Gálvez Ruíz,294218,0.461466,293070,1148
7,Baja California,Claudia Sheinbaum Pardo,855022,0.653375,853216,1806
12,Baja California Sur,Claudia Sheinbaum Pardo,174176,0.587398,174012,164
17,Campeche,Claudia Sheinbaum Pardo,238025,0.607920,237851,174
32,Chiapas,Claudia Sheinbaum Pardo,1508000,0.712269,1506931,1069
37,Chihuahua,Claudia Sheinbaum Pardo,736541,0.526231,734120,2421
42,Ciudad De México,Claudia Sheinbaum Pardo,2986741,0.553621,2972163,14578
22,Coahuila,Claudia Sheinbaum Pardo,808040,0.532821,806670,1370
27,Colima,Claudia Sheinbaum Pardo,182722,0.539529,182089,633
47,Durango,Claudia Sheinbaum Pardo,402186,0.578516,400528,1658
52,Guanajuato,Claudia Sheinbaum Pardo,1224110,0.468781,1218595,5515
57,Guerrero,Claudia Sheinbaum Pardo,1040631,0.714965,1035696,4935
62,Hidalgo,Claudia Sheinbaum Pardo,1000990,0.671994,998331,2659
67,Jalisco,Claudia Sheinbaum Pardo,1595010,0.442212,1586787,8223
77,Michoacán,Claudia Sheinbaum Pardo,1036243,0.549144,1029239,7004
82,Morelos,Claudia Sheinbaum Pardo,578965,0.635279,577037,1928
72,México,Claudia Sheinbaum Pardo,4910698,0.603477,4904901,5797
87,Nayarit,Claudia Sheinbaum Pardo,302532,0.624798,301358,1174
92,Nuevo León,Claudia Sheinbaum Pardo,1056501,0.445075,1054710,1791
97,Oaxaca,Claudia Sheinbaum Pardo,1370423,0.763395,1365419,5004
102,Puebla,Claudia Sheinbaum Pardo,2067541,0.651476,2061094,6447
107,Querétaro,Claudia Sheinbaum Pardo,580295,0.507224,579026,1269
112,Quintana Roo,Claudia Sheinbaum Pardo,533958,0.723717,533396,562
117,San Luis Potosí,Claudia Sheinbaum Pardo,773298,0.602775,771339,1959
122,Sinaloa,Claudia Sheinbaum Pardo,777915,0.647821,776524,1391
127,Sonora,Claudia Sheinbaum Pardo,667316,0.630186,666207,1109
132,Tabasco,Claudia Sheinbaum Pardo,802827,0.801222,802219,608
137,Tamaulipas,Claudia Sheinbaum Pardo,905685,0.619477,903934,1751
142,Tlaxcala,Claudia Sheinbaum Pardo,484255,0.687746,483516,739
147,Veracruz,Claudia Sheinbaum Pardo,2294442,0.661780,2290229,4213
152,Yucatán,Claudia Sheinbaum Pardo,693678,0.597206,693011,667
157,Zacatecas,Claudia Sheinbaum Pardo,367584,0.501089,365541,2043